.VPHome {
  @keyframes bg-slide {
    0% {
      background-image: url(./assets/images/bg1.jpg);
    }
    100% {
      background-image: url(./assets/images/bg2.png);
    }
  }
  // 自定义首页背景图
  &::before {
    background-image: url(./assets/images/bg1.jpg);
    background-size: cover;
    animation: bg-slide 12s ease-in-out infinite alternate;
  }
  // 定义遮罩样式
  background: radial-gradient(
    ellipse,
    rgba(var(--bg-gradient-home), 1) 0%,
    rgba(var(--bg-gradient-home), 0) 180%
  );
}

@font-face {
  font-family: "WitcherHandwritingRegular";
  src: url("./assets/fonts/WitcherHandwritingRegular.ttf");
}

:root {
  --vp-font-family-base: "WitcherHandwritingRegular";
  --vp-font-family-mono: "WitcherHandwritingRegular";
}

#live2d {
  width: 200px !important;
  height: 200px !important;
}
#waifu-tips {
  display: none !important;
}
#waifu-tool-hitokoto {
  display: none !important;
}
#waifu-tool-asteroids {
  display: none !important;
}
#waifu-tool-switch-texture {
  display: none !important;
}
#waifu-tool-info {
  display: none !important;
}
#waifu {
  margin-bottom: -5px !important;
}
// #waifu-tool {
//   left: 10px !important;
// }
// #waifu {
//   left: 75vw !important;
// }
#waifu-toggle {
  background-color: var(--vp-c-bg-alt) !important;
  color: var(--vp-c-text-2) !important;
}
