.VPHome {
  @keyframes bg-slide {
    0% {
      background-image: url(./assets/images/bg1.jpg);
    }
    35% {
      background-image: url(./assets/images/bg2.jpg);
    }
    65% {
      background-image: url(./assets/images/bg3.jpg);
    }
    100% {
      background-image: url(./assets/images/bg4.png);
    }
  }
  // 自定义首页背景图
  &::before {
    background-size: cover;
    animation: bg-slide 40s ease-in-out infinite alternate;
  }
  // 定义遮罩样式
  background: radial-gradient(
    ellipse,
    rgba(var(--bg-gradient-home), 1) 0%,
    rgba(var(--bg-gradient-home), 0) 180%
  );
}

@font-face {
  font-family: "WitcherHandwritingRegular";
  src: url("./assets/fonts/WitcherHandwritingRegular.ttf");
}
@font-face {
  font-family: "MotleyForcesRegular";
  src: url("./assets/fonts/MotleyForcesRegular.ttf");
}

:root {
  --vp-font-family-base: "WitcherHandwritingRegular";
  --vp-font-family-mono: "MotleyForcesRegular";
}
